body {
   margin: 0;
   padding: auto;
   text-align: center;
}

h1 {
   font-family: monospace;
   font-size: 3em;
   font-weight: 900;
   color: #927283;
}
#maincontainer {
   width: 60%;
   margin: auto;
   height: 800px;
   background-color: #dbadda;
   padding-top: 15px;
   margin-top: 10px;
   border-radius: 10%;
}

h2 {
   font-size: 0, 5em;
   color: #0d1d1f;
}

h2:first-of-type {
   margin-top: 0.5em;
}
*/ #colorPicker {
   width: 20px;
   height: 20px;
   min-height: 20px;
   min-width: 20px;
   cursor: pointer;
   display: inline-block;
   box-sizing: border-box;
   border: 1px solid #000000;
}

table,
tr,
td {
   border: 1px solid #000000;
}

#pixelGrid {
   border-collapse: collapse;
   margin: 0 auto;
}

tr {
   height: 30px;
}

td {
   width: 30px;
}

input[type='number'] {
   width: 6em;
   border: 1px solid #000000;
}
input[type='color'] {
   width: 5em;
   border: 1px solid #000000;
}

button {
   display: block;
   height: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}
